/*Importação da Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

/*Zerando espaçamento CSS nativo do HTML*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilização Base*/
html {
    font-size: 8px;
    font-family: 'Poppins', monospace;
    background-color: #F1F1F1;
    scroll-behavior: smooth;
}

/*Removendo Cor dos hyperlinks*/
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Título*/
.section-title {
    font-size: 5rem;
    font-weight: 400;
    color: #141414;
    text-decoration: underline;
}

/*SubTítulo*/
.section-title2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #141414;
    letter-spacing: 0.2rem;
    border-radius: 10px;
    color: #F1F1F1;
}



/* Seção Barra de Navegação Top*/

.topbar-nav {
    z-index: 3;
    background-color: #000000;
    position: fixed;
    width: 100%;
    padding: 15px 0;

}

.topbar-nav .logo-nav a {
    color: #F3F3F3;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
}

.topbar-nav .menu li {
    list-style: none;
    display: inline-block;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.topbar-nav .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.topbar-nav .menu li a {
    color: #d1d1d1;
    font-size: 2rem;
    font-weight: 200;
    margin-left: 25px;
    transition: 0.2s ease transform;
}

.topbar-nav .menu a:hover {
    color: #d1d1d1;
    font-weight: 400;
    margin-left: 25px;
    text-decoration: underline;
}

/*Seção de Apresentação*/
#presentation {
    background-image: url(materials/background-image.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    filter: blur(0.4px);
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
    animation-delay: 1s;
}

#presentation h1:nth-child(2) {
    animation-delay: 2s;
}

#presentation h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #F1F1F1;
    background-color: transparent;
    border: 2px solid #F1F1F1;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: #393939;
    font-weight: 400;
    background-color: #F1F1F1;
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #F3F3F3;
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#presentation::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    opacity: 0.2;
    z-index: -1;
}

/* Seção Sobre Mim */

.about-me {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutme-info {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 30px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #e4e4e4 0%, #c0c0c0 100%);
    color: #1b1b1b;
    overflow: hidden;
}

#bio {
    font-size: 2rem;
    text-align: justify;
}

#name {
    font-size: 5rem;
}

#idade,
#uf {
    font-size: 3rem;
}

.aboutme-texts{
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: justify;

}

.aboutme-img img {
    width: 100%;
    border-radius: 10px;
    transition: 0.2s ease-in transform;
    
}
.aboutme-img img:hover {
    transform: scale(1.1);
}



/* Seção Portfólio */

.portfolio {
    flex-direction: column;
    max-width: 1050px;
    margin: 0 auto;
    padding: 100px 0;
}

.portfolio-header {
    display: flex;
    width: 80%;
    margin: auto;

}

.portfolio-header h1 {
    margin-bottom: 50px;
    font-size: 5rem;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, #e4e4e4 0%, #c0c0c0 100%);
    color: #1b1b1b;
}

.project-info h1 {
    font-size: 4rem;
    font-weight: 500px;
}

.project-info h2 {
    font-size: 2rem;
    font-weight: 400px;
    margin-top: 10px;
    color: #393939;
}

.project-info p {
    font-size: 1.5rem;
    font-weight: 400px;
}

.project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, transparent 0%, #141414 100%);
}

.project-item:hover .project-img img {
    transform: scale(1.1);
}

.project-img img {
    transition: 0.5s ease transform;

}

/* Rodapé/Footer */
#footer {
    width: 100%;
    background-color: #1b1b1b;
}

#footer p {
    color: #F1F1F1
}

#footer .text1-footer,
.text2-footer {
    padding: 20px;
}

#footer img {
    width: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

* .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: justify;
}

/* Seção Skills*/

.skills {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 100px;
}

.max-width-skill {
    display: flex;
    overflow: hidden;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
}

/*Definindo Borda Diferente para cada card de imagem*/
#html {
    border: 10px solid #E54C21;
}

#css {
    border: 10px solid #264DE4;
}

#javascript {
    border: 10px solid #F1C026;
}

.skill-img {
    width: 100%;
    display: flex;
    padding: 30px;
}


.skill-img img:hover {
    transform: scale(1.1);
}

.skill-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in transform;
    width: 100%;
}

.skill-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(135deg, #e4e4e4 0%, #c0c0c0 100%);
    color: #1b1b1b;
    padding: 60px;
    border-radius: 10px;
    align-items: left;
    text-align: justify;
}

.skill-info h1 {
    font-size: 5rem;
}

.skill-info h2 {
    text-decoration: underline;
    font-size: 3rem;
    color: #525252;
}

.skill-info p {
    font-size: 2rem;

}

/* Botão voltar ao topo*/

#back-to-top {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}

#back-to-top img:hover {
    transform: rotateY(35deg);
}

#back-to-top img {
    width: 50%;
    transition: 1s ease tranform;
}

/* Seção Contact Us*/

.form {
    width: 80%;
    margin: 0 auto;

}

#form-contactus {
    flex-direction: column;
    max-width: 1050px;
    margin: 0 auto;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 100px;
}

form>div {
    width: 100%;
    padding: 20px;
}

.forms-inputs {
    background-color: #d1d1d1 !important;
    border-radius: 0 0 10px 10px;
    z-index: 2;
}

.forms-header {
    background-color: #1b1b1b;
    border-radius: 10px 10px 0 0;
}

form label,
form input {
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    border: transparent;
    height: 30px;
    font-family: 'Poppins';
}

form input {
    padding: 15px;
}

form h3 {
    font-size: 4rem;
    font-weight: 600;
    color: #F1F1F1;
}

textarea {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2rem;
    width: 100%;
    min-height: 50px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 8px;
    border: none;
    padding: 15px;
}

form h5 {
    font-size: 2rem;
    font-weight: 400;
    color: #F3F3F3;
}

.form-btn {
    margin: 10px auto;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    border: #0a0a0a;
    font-size: 2.5em;
    font-weight: 600;
    padding: 10px 0;

}

.btn-align {
    display: flex;
    width: 100%;
    height: 100%;
}

.form-btn:hover {
    color: #d1d1d1;
    background-color: #141414;
    transition: 0.5s;
}





/* Keyframes */

@keyframes text_reveal {
    100% {
        color: #F3F3F3;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        right: 0;
    }

    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #F1F1F1;
        font-weight: 700;
        background-color: #393939
    }
}

/*Media Querys*/

@media only screen and (max-width: 1200px) {
    .max-width-skill {
        flex-direction: column;
    }

    #name,
    #bio,
    #idade {
        font-size: 2rem;
    }

    #uf {
        font-size: 2rem;
    }

    .skill-info h1 {
        font-size: 3rem;
    }

    .skill-info h2 {
        font-size: 2.5rem;
    }

    .skill-info p {
        font-size: 2rem;

    }

    .max-width {
        display: flex;
        flex-direction: column;
        margin: 50px;
        align-items: center;
    }

    .topbar-nav .logo-nav a {
        content: '';
        color: transparent;
        
    }

    .topbar-nav .menu li a {
        display: flex;
        flex-direction: column;
        color: #d1d1d1;
        font-size: 3rem;
        font-weight: 200;
    }



}